@{
    Layout = "_menu";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Помилка!</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/style FailedPage.css">
    <script src="~/js/js failed.js" defer></script>
</head>

<body>
    <div class = "success-page">
        <div class = "success-page-wrapper">
           <img src="~/img/angry-cat.png" alt="sad-cat" id="happy-cat-img">
           <div class="success-text">
            <span>Сталася помилка!</span>
            <span>На жаль, в нас немає необхідної кількості товару.</span>
            <span>Спробуйте зменшити кількість копій товарів або обрати інший</span>
           </div>
           <div class="back-button">
            <button>Повернутися до кошика</button>
           </div>
        </div>
    </div>    
    <footer class="footer">
        <span class="footer-credentials">
            Copyright © 2023 CatGames. Всі права захищені.
        </span>
    </footer>
    
</body>
</html>